.wrapper {
    margin: 16px
}

.buttons {
    display: flex;
	gap: 4px;
}

.title {
    color: var(--colors-grey900);
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-block-start: 8px;
    margin-block-end: 8px;
}

.summaryBoxes {
    display: flex;
    justify-content: space-between;
}

.loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 14px;
    line-height: 19px;
    color: var(--colors-grey700);
    gap: 8px;
}

.noAlerts {
    color: var(--colors-grey600);
    text-align: center;
}