.itemContentContainer {
    min-inline-size: 400px;
    min-block-size: 280px;
    max-block-size: 70vh;
    display: flex;
    flex-direction: column;
}

.searchInputContainer {
    padding: var(--spacers-dp8) var(--spacers-dp8) 0;
    flex-grow: 0;
}

.dividerContainer {
    flex-shrink: 0;
}

.orgUnitTreeContainer {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    padding-inline-start: var(--spacers-dp8);
}

.labelContentContainer {
    padding: var(--spacers-dp8);
    margin-block-start: var(--spacers-dp4);
    display: flex;
    align-items: center;
    color: var(--colors-grey600);
}

.label {
    font-size: 13px;
    line-height: 16px;
    padding-inline-start: var(--spacers-dp4);
}

.disabled {
    color: var(--theme-disabled);
    cursor: auto;
}
