.wrapper {
    background: white;
    block-size: 100%;
    border-inline-start: 1px solid var(--colors-grey400);
}

.portalAnchor {
    min-block-size: 100%;
    overflow: hidden;
    overflow-y: auto;
}

@media print {
    .hideForPrint {
        composes: hideForPrint from '../app/app.css';
    }
}
