.table {
    /* overrides fullwidth(100%)- UI-styling */
    min-width: 240px !important;
    /* Weird req for allowing <td> cell contents to be 100% cell height */
    height: 100% !important;
}

@media print {
    .labelWrapper {
        background-color: transparent !important;
    }
    .title, .description {
        color: black !important;
    }
}
.headerCell {
    padding: 0 !important;
    height: auto !important;
    border: 1px solid var(--colors-grey400) !important;
}

.labelWrapper {
    background-color: var(--colors-grey800);
    line-height: 20px;
    padding: 4px 8px;
}

.labelWrapperCollapsible {
    cursor: pointer;
}

.title {
    color: var(--colors-grey050);
    font-weight: 400;
    font-size: 14px;
}
.description {
    color: var(--colors-grey300);
    font-size: 13px;
    margin-top: 2px;
    font-weight: 300;
}

.filterWrapper {
    display: flex;
    align-items: center;
    padding: 8px;
    /* For input to fit full size for focus styles */
    position: relative;
}
.filterInput {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    /* Offset for 'Filter' icon and its padding */
    padding-left: 32px;
    background: none;
    border: none;
    color: var(--colors-grey900);
    font-size: 13px;
    line-height: 15px !important;
}
.filterInput::placeholder {
    color: var(--colors-grey600);
}
.filterInput:focus-visible {
    outline: 3px solid var(--theme-focus);
}

.sectionTab {
    margin-bottom: 8px;

}

.verticalSectionTabWrapper .sectionTab div{
    flex-direction: column;
}

.sectionTab button{
    align-self: stretch;
}

.sectionTabWrapper{
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.verticalSectionTabWrapper{
    flex-direction: row;
}

@media print {
    .hideForPrint {
        composes: hideForPrint from '../../app/app.css'
    }
}

/* section description area */
.sectionDescription {
    margin: 12px 4px 8px;
    font-size: 13px;
    color: var(--colors-grey800)
}

.sectionDescription :global(a):link,
.sectionDescription :global(a):visited,
.sectionDescription :global(a):hover,
.sectionDescription :global(a):active {
    color: var(--colors-blue700)
}
