.border {
    border: 1px solid var(--colors-grey400) !important;
}

.tableHeader {
    composes: border;
    background-color: var(--colors-grey200);
    font-weight: 500;
}

.categoryNameHeader {
    composes: tableHeader;
    font-weight: 300;
    text-align: right;
}

.dataElementName {
    composes: border;
    min-width: 240px;
    max-width: 350px;
}

.tableCell {
    composes: border;
    min-width: 100px;
}

.hiddenByFilterRow {
    color: var(--colors-grey600);
}

.table td {
    height: 32px;
    padding: 8px 16px 8px 8px;
}

.paddingCell {
    composes: tableHeader;
}
