.wrapper {
    block-size: 100%;
    display: grid;
    grid-template-areas:
        'workspace'
        'footer';
    grid-template-rows: minmax(0, 1fr) auto;
}

.formWrapper {
    grid-area: workspace;
    padding: 8px 0;
    overflow: auto;
}

.formArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    min-inline-size: 600px;
    padding: 8px;
    background-color: #fff;
    inline-size: max-content;
    inline-size: 100%;
}

.footer {
    grid-area: footer;
    position: relative;
}

.formMessageBox {
    margin: var(--spacers-dp8) var(--spacers-dp12) var(--spacers-dp8)
        var(--spacers-dp12);
}

@media print {
    .hideForPrint {
        composes: hideForPrint from '../app/app.css';
    }
}
