.border {
    border: 1px solid #e8edf2;
}

.tableHeader {
    composes: border;
    background-color: var(--colors-grey200);
    font-weight: 500;
}

.categoryNameHeader {
    composes: tableHeader;
    font-weight: 300;
    text-align: right;
}

.tableCell {
    composes: border;
}
