.table {
    /* overrides fullwidth(100%)- UI-styling */
    min-width: 240px !important;
    /* Weird req for allowing <td> cell contents to be 100% cell height */
    height: 100% !important;
}

.filterWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.filterField {
    width: 420px;
}
