.wrapperDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100%;
}

.innerDiv {
    inline-size: 400px;
    text-align: center;
}

.svgWrapper {
    display: block;
    margin-inline: auto;
}

.headingText {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: var(--colors-grey900);
    margin-block-start: 32px;
}

.instructionsText {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    color: var(--colors-grey800);
    margin-block-start: 16px;
}

.linkText {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    color: var(--colors-grey800);
    margin-block-start: 24px;
}
