.cellBase {
    border: 1px solid var(--colors-grey400) !important;
    padding: 8px !important;
    height: auto !important;
    font-size: 13px !important;
    line-height: 15px !important; 
}

.tableHeader {
    composes: cellBase;
    background-color: var(--colors-grey200);
    font-weight: 500;
}

.categoryNameHeader {
    composes: tableHeader;
    font-weight: 300;
    text-align: right;
}

.dataElementName {
    composes: cellBase;
    min-width: 240px;
    max-width: 350px;
}

.active {
    background-color: var(--colors-grey300);
}

.tableCell {
    composes: cellBase;
    min-width: 100px;
}

.hiddenByFilterCell {
    color: var(--colors-grey600);
    composes: cellBase;
}

.table td {
    height: 32px;
    padding: 8px 16px 8px 8px;
}

.paddingCell {
    composes: tableHeader;
}

.totalCell {
    composes: tableCell;
    background: var(--colors-grey300);
}

.totalHeader {
    composes: totalCell;
    font-weight: initial;
}
