.toggleableUnit {
    border-bottom: 1px solid var(--colors-grey400);
    padding: 0;
}

.title {
    margin: 0;
    list-style: none; /* Removes disclosure triangle from <summary> element */
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    cursor: pointer;
    padding: var(--spacers-dp16);
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: var(--colors-grey900);
}

.title:focus {
    outline: 3px solid var(--theme-focus);
    outline-offset: -3px;
}

.title:focus:not(:focus-visible) {
    outline: none;
}

.content {
    padding: var(--spacers-dp16);
    padding-top: 0;
}

.open .title {
    padding-bottom: var(--spacers-dp16);
}

.disabled .title {
    color: var(--colors-grey600);
    cursor: not-allowed;
}
