.summaryBox {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 24px;
}

.summaryBox :global(svg) {
    margin-inline-end: 4px;
}

.summaryBox .title {
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
}

.summaryBox .count {
    color: var(--colors-grey900);
    font-size: 21px;
    font-weight: 500;
}

.warning {
    color: var(--colors-yellow900);
    background-color: var(--colors-yellow050);
    border: 2px solid var(--colors-yellow400);
}

.error {
    color: var(--colors-red800);
    background-color: var(--colors-red050);
    border: 2px solid var(--colors-red600);
}

.info {
    color: var(--colors-grey800);
    background-color: var(--colors-grey100);
    border: 2px solid var(--colors-grey400);
}

.hideCounts {
    opacity: 0.25;
}
.hideCounts .count {
    visibility: hidden;
}