.comment, .placeholder {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 var(--spacers-dp12);
}

.comment {
    padding-left: 6px;
    border-left: 2px solid var(--colors-grey400);
    color: var(--colors-grey900);

    /* this is a "pre" element, so we need this */
    font-family: inherit;
}

.placeholder {
    color: var(--colors-grey600);
}

.textArea {
    box-sizing: border-box;
    color: var(--colors-grey900);
    background-color: transparent;
    border: 1px solid var(--colors-grey500);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(102, 113, 123, 0.15),
        inset 0 1px 2px 0 rgba(102, 113, 123, 0.1);
    outline: 0;
    font-size: 14px;
    line-height: 16px;
    user-select: text;
}

.textAreaDense {
    composes: textArea;
    padding: 4px 12px;
}

.commentInput {
    composes: textAreaDense;
    width: 100%;
    resize: vertical;
    margin-bottom: var(--spacers-dp12);
}

.commentOptionSelect {
    margin-bottom: var(--spacers-dp8);
}