.averageValue {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp4);
    margin-block-end: var(--spacers-dp12);
    font-size: 12px;
    line-height: 14px;
    color: var(--colors-grey800);
}

.spaceBetween {
    display: inline-block;
    inline-size: 50px;
    margin: 0 var(--spacers-dp16);
    border-block-start: 2px solid var(--colors-grey300);
}

.input {
    display: inline-block;
    inline-size: 60px;
    margin-block-end: var(--spacers-dp12);
}

.placeholder {
    margin-block-end: var(--spacers-dp12);
    font-size: 14px;
    line-height: 19px;
    color: var(--colors-grey600);
}

.limits {
}

.limit {
    display: inline-flex;
    flex-direction: column;
    gap: var(--spacers-dp4);
    text-align: center;
}

.limitLabel {
    font-size: 12px;
    line-height: 14px;
    color: var(--colors-grey700);
}

.limitValue {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--colors-grey900);
}

.limitsDisplayWrapper {
    display: flex;
    align-items: center;
}

.limitsDisplayWrapperMargin {
    margin-block-end: var(--spacers-dp12);
}

.onlyDeleteButton {
    margin-inline-start: -8px;
}
