/* ":global(..)" necessary due to specificify of @dhis2/ui */
:global(button).addButton {
    display: block;
}

.label {
    color: var(--colors-grey600);
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 var(--spacers-dp12);
}
