.customForm table {
    border-collapse: collapse;
    height: 100%;
}
.customForm :global(td) {
    border: 1px solid var(--colors-grey400);
    font-size: 13px;
    line-height: 15px;
    height: auto;
}
.customForm :global(td:empty) {
    background-color: var(--colors-grey100);
    cursor: not-allowed;
}
.customForm :global(td.dhis2-data-entry-app-custom-form-label-cell) {
    padding: 8px;
}
.customForm :global(th) {
    border: 1px solid var(--colors-grey400);
    padding: 8px;
    background-color: var(--colors-grey200);
    height: auto;
    font-size: 13px;
    line-height: 15px;
}
/*
Implement dark top-headers but use very conservative selectors to
prevent accidentally applying this style to cells in the table body
<table>
    <tr />          YES
    <tr />          NO
</table>              

<table>
    <tbody>
        <tr />      YES
        <tr />      NO
    </tbody>
</table>

<table>
    <thead>
        <tr />      YES
        <tr />      YES
    </thead>               
    <tbody>
        <tr />      NO
        <tr />      NO
    </tbody>               
</table>     
*/
.customForm :global(table) > :global(tr:first-child) > :global(th),  
.customForm :global(table) > :global(tbody:first-child) > :global(tr:first-child) > :global(th),
.customForm :global(table) > :global(thead) > :global(tr) > :global(th) {
    background-color: var(--colors-grey800);
    border-color: var(--colors-grey800);
    color: var(--colors-white);
}