.container {
    display: flex;
    padding: 4px 12px;
    align-items: center;
    border-block-end: 1px solid var(--colors-grey400);
}

.name {
    display: block;
    margin-inline-end: 8px;
    font-size: 13px;
    line-height: 15px;
    color: var(--colors-grey800);
}
