.validationTooltip {
    height: 100%;
    width: 100%;
}

.dataEntryCell {
    padding: 0px;
    min-width: 100px;
    border: 1px solid var(--colors-grey400);
    background: #fff;
    font-size: 13px;
    line-height: 15px;
    color: var(--colors-grey900);
    height: 100%;
}

.cellInnerWrapper {
    width: 100%;
    height: 100%;
    /* Make this a coordinate context for corner indicators */
    position: relative;
}
.cellInnerWrapper:hover:not(.disabled) {
    outline: 1px solid #a0adba;
}

.active:not(.locked) {
    outline: 3px solid var(--theme-focus) !important;
    border: none !important;
    background: #fff !important;
}

.disabled {
    background: var(--colors-grey300);
}

.invalid:not(.active) {
    background: var(--colors-red200);
    outline: 1px solid var(--colors-red600) !important;
}
.invalid:hover {
    background: #ffb3bc;
}

.synced {
    background: var(--colors-green050);
}
.synced:hover {
    background: #d8eeda;
}


.topRightIndicator {
    position: absolute;
    top: 0;
    right: 0;
}
.bottomLeftIndicator {
    position: absolute;
    bottom: 0;
    left: 0;
}

.topRightTriangle {
    width: 0;
    height: 0;
    border-top: 3px solid var(--colors-green300);
    border-right: 3px solid var(--colors-green300);
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
}
.bottomLeftTriangle {
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid var(--colors-grey600);
    border-left: 3px solid var(--colors-grey600);
}

.locked {
    background-color: var(--colors-grey050);
}
.locked * {
    color: var(--colors-grey700) !important;
}

