.validationTooltip {
    block-size: 100%;
    inline-size: 100%;
}

.validationTooltipMessage div:not(:first-child) {
    margin-block-start: 8px;
}

.dataEntryCell {
    padding: 0px;
    min-inline-size: 100px;
    border: 1px solid var(--colors-grey400);
    background: #fff;
    font-size: 13px;
    line-height: 15px;
    color: var(--colors-grey900);
    block-size: 100%;
}

.cellInnerWrapper {
    inline-size: 100%;
    block-size: 100%;
    /* Make this a coordinate context for corner indicators */
    position: relative;
}
.cellInnerWrapper:hover:not(.disabled):not(.highlighted) {
    outline: 1px solid #a0adba;
}

.active {
    background-color: #fff !important;
}

.highlighted {
    outline: 3px solid var(--colors-grey800);
    border: none;
    /* Fix to prevent bottom outline to be clipped by next cell */
    z-index: 1;
}

.highlighted.active {
    outline-color: var(--theme-focus) !important;
}

.disabled {
    background-color: var(--colors-grey200);
    background-size: 8px 8px;
    background-image: repeating-linear-gradient(
        45deg,
        var(--colors-grey300) 0,
        var(--colors-grey300) 0.8px,
        var(--colors-grey200) 0,
        var(--colors-grey200) 50%
    );
}

.warning:not(.active) {
    background: var(--colors-yellow100);
    outline: 1px solid var(--colors-yellow300);
}

.warning:hover {
    background: var(--colors-yellow200);
}

.invalid:not(.active) {
    background: var(--colors-red200);
    outline: 1px solid var(--colors-red600);
}

.invalid:hover {
    background: #ffb3bc;
}

.synced {
    background: var(--colors-green100);
}
.synced:hover {
    background: #d8eeda;
}

.topRightIndicator {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
}
.bottomRightIndicator {
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
}

.topRightTriangle {
    inline-size: 0;
    block-size: 0;
    border-block-start: 3px solid var(--colors-green400);
    border-inline-end: 3px solid var(--colors-green400);
    border-block-end: 3px solid transparent;
    border-inline-start: 3px solid transparent;
}
.bottomRightTriangle {
    inline-size: 0;
    block-size: 0;
    border-block-start: 3px solid transparent;
    border-inline-end: 3px solid var(--colors-grey600);
    border-block-end: 3px solid var(--colors-grey600);
    border-inline-start: 3px solid transparent;
}

.topRightAsterisk {
    color: var(--colors-grey600);
    inline-size: 8px;
}

.locked {
    background-color: var(--colors-grey050);
}
.locked * {
    color: var(--colors-grey700) !important;
    cursor: not-allowed;
}

@media print {
    .hideForPrint {
        composes: hideForPrint from '../../app/app.css';
    }
}
