.validationTooltip {
    height: 100%;
    width: 100%;
}

.dataEntryCell {
    padding: 0px;
    min-width: 100px;
    border: 1px solid var(--colors-grey400);
    background: #fff;
    font-size: 13px;
    line-height: 15px;
    color: var(--colors-grey900);
    height: 100%;
}

.cellInnerWrapper {
    width: 100%;
    height: 100%;
    /* Make this a coordinate context for corner indicators */
    position: relative;
}
.cellInnerWrapper:hover:not(.disabled) {
    outline: 1px solid #a0adba;
}

.active {
    background-color: #fff !important;
}

.highlighted {
    outline: 3px solid var(--colors-grey800) !important;
    border: none !important;
    /* Fix to prevent bottom outline to be clipped by next cell */
    z-index: 1;
}


.highlighted.active {
    outline-color: var(--theme-focus) !important;
}

.disabled {
    background-color: var(--colors-grey200);
    background-size: 8px 8px;
    background-image: repeating-linear-gradient(
        45deg,
        var(--colors-grey300) 0,
        var(--colors-grey300) 0.8px,
        var(--colors-grey200) 0,
        var(--colors-grey200) 50%
    );
}

.invalid:not(.active) {
    background: var(--colors-red200);
    outline: 1px solid var(--colors-red600);
}

.invalid:hover {
    background: #ffb3bc;
}

.synced {
    background: var(--colors-green050);
}
.synced:hover {
    background: #d8eeda;
}


.topRightIndicator {
    position: absolute;
    top: 0;
    right: 0;
}
.bottomRightIndicator {
    position: absolute;
    bottom: 0;
    right: 0;
}

.topRightTriangle {
    width: 0;
    height: 0;
    border-top: 3px solid var(--colors-green300);
    border-right: 3px solid var(--colors-green300);
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
}
.bottomRightTriangle {
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 3px solid var(--colors-grey600);
    border-bottom: 3px solid var(--colors-grey600);
    border-left: 3px solid transparent;
}

.locked {
    background-color: var(--colors-grey050);
}
.locked * {
    color: var(--colors-grey700) !important;
    cursor: not-allowed;
}
