/* Composable classes */
.hw100 {
    height: 100%;
    width: 100%;
}
.cellPadding {
    padding: 8px 16px 8px 8px;
}

.basicInput {
    composes: hw100 cellPadding;
    background: none;
    border: none;
}
.basicInput:focus-visible {
    /* Hide default focus styles; handled by wrapper */
    outline: none;
}

/* todo: remove focus styles on UI components */

.checkboxWrapper {
    composes: hw100 cellPadding;
    display: flex;
    align-items: center;
}

.radioFlexWrapper {
    composes: hw100 cellPadding;
    display: flex;
    align-items: center;
    gap: 8px;
}

.selectFlexWrapper {
    composes: hw100 cellPadding;
    display: flex;
    /* Align button and select */
    align-items: baseline;
    gap: 8px;
}
.selectFlexItem {
    flex-grow: 1;
}
