.menu {
    max-block-size: calc(70vh - 45px);
    min-inline-size: 240px;
    overflow: auto;
}

.noPeriods {
    color: var(--colors-grey600);
    text-align: center;
    padding: 8px;
    font-size: 14px;
    inline-size: 240px;
}
