.helpItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
    color: var(--colors-grey800);
    padding: var(--spacers-dp12) 0;
}

.shortcut,
.shortcutKey {
    font-family: monospace;
    font-size: 13px;
    line-height: 16px;
    color: var(--colors-grey900);
}

.shortcutOr {
    font-size: 13px;
    line-height: 16px;
    color: var(--colors-grey900);
    padding: 4px 0 4px 0;
}

.shortcutKeys {
    display: inline-flex;
    gap: var(--spacers-dp8);
}

.shortcutKey {
    background: var(--colors-grey100);
    border: 1px solid var(--colors-grey300);
    padding: 4px;
    border-radius: 2px;
}
